<div style="margin-left:12px; margin-right:12px">
<p>Welcome to <a href="/" target="_blank">Traboone Social!</a></p>
<p>We're a pro-freedom of speech and expression instance in the social media fediverse. All speech and expression protected by the First Amendment is welcome here. For the rules of this instance, please see our <a href="/about/tos">Terms of Service</a>.</p>
<p><a href="/">Soapbox FE</a> | <a href="/web">Mastodon FE</a></p>
</div>