body.retro {
    --accent-color_h: calc(var(--brand-color_h) - 5);
}

.retro .tabs-bar {
    background: black;
}

.retro .pane__header {
    background: black;
}

.retro .tabs-bar__link--logo {
    filter: none;
    -webkit-filter: none;
}
