.rich-formatting strong,
.rich-formatting em,
.rich-formatting b {
  color: var(--primary-text-color--faint);
}

.rich-formatting em {
  font-weight: 400;
  font-style: italic;
}

.rich-formatting h1 {
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--primary-text-color);
}

.rich-formatting h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.rich-formatting ul.no-bulletpoints {
  list-style-type: none;
  padding-left: 0;
}

.rich-formatting ul.no-bulletpoints li {
  line-height: 25px;
}

.rich-formatting .last-updated {
  margin-top: 0;
}

.rich-formatting table tr th {
  padding: 6px 16px;
  font-weight: 700;
  background-color: var(--accent-color--med);
  border-bottom: 4px solid var(--accent-color);
}

.rich-formatting table tr td {
  padding: 6px 16px;
  background-color: var(--accent-color--faint);
}

.rich-formatting table tbody > tr:not(:last-child) {
  border-bottom: 2px solid var(--accent-color--med);
}
