/* Style slightly based on Spinster's CSS, which is based on Neenster's CSS.
 * Copying is an act of love. Please copy and share.
 */
.promo-panel-item__icon.fa-comment-o::before {
  background-image: url('/instance/images/sandia-mesa-icon.svg');
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transform: translateY(3px);
  opacity: 1;
  filter: grayscale(100%) invert(0);
}

.promo-panel-item__btn:hover > .promo-panel-item__icon.fa-comment-o::before {
  opacity: 0.5;
}

.theme-mode-dark .promo-panel-item__icon.fa-comment-o::before {
  filter: grayscale(100%) invert(100%);
}
