/* Style based on Spinster's CSS, which is based on Neenster's CSS.
 * Copying is an act of love. Please copy and share.
 */

.column-header__icon.fa-users::before {
  background-image: url('/instance/images/traboone-icon-circle.svg');
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transform: translateY(-1px);
  opacity: 0.5;
  filter: grayscale(100%) invert(0);
  transition: 0.2s;
}

.btn.active .column-header__icon.fa-users::before,
.btn.grouped:hover > .column-header__icon.fa-users::before {
  opacity: 1;
}

.theme-mode-dark .column-header__icon.fa-users::before {
  filter: grayscale(100%) invert(100%);
}
