<h1>About</h1>

<p>Traboone Social is a pro-freedom of speech and expression instance in the social media fediverse. All speech and expression protected by the First Amendment is welcome here. For the rules of this instance, please see our <a href="/about/tos">Terms of Service</a>.</p>

<h2>Blocklog</h2>

<p>At Traboone Social, we do our best to keep federation going, but there are a few cases where we may find it necessary to deactivate external local users or block other instances. Whenever we do, we will disclose it below along with reasoning.</p>

<h3>Deactivated remote users</h3>

<table>
  <thead>
    <tr>
      <th>Remote user</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Elijah65 [at] sinblr.com</td>
      <td>Known child pornography poster.</td>
    </tr>
    <tr>
      <td>Georgie1993 [at] sinblr.com</td>
      <td>Known child pornography poster.</td>
    </tr>
    <tr>
      <td>Procas [at] mstdn.jp</td>
      <td>Confirmed via avatar and bio to be alt of child pornography poster; deactivated out of an abundance of caution.</td>
    </tr>
    <tr>
      <td>Procas [at] xxxtumblr.org</td>
      <td>Known child pornography poster.</td>
    </tr>
    <tr>
      <td>sashamap [at] dlf.social</td>
      <td>Linking to child pornography and posting creepy photos of kids in bikinis.</td>
    </tr>
    <tr>
      <td>sashamap [at] phreedom.tk</td>
      <td>Confirmed via bio to be alt of sashamap@dlf.social; deactivated out of an abundance of caution.</td>
    </tr>
    <tr>
      <td>WorldMAP [at] anime.website</td>
      <td>Posting sexualized child nudity images.</td>
    </tr>
    <tr>
      <td>K [at] gameliberty.club</td>
      <td>Minor posting NSFW art.</td>
    </tr>
  </tbody>
</table>

<h3>Blocked domains</h3>

<p>Thus far, we have not yet resorted to blocking any instances. But when we do, we will disclose it here along with reasoning.</p>
