<h1>Source Code</h1>

<p>At Sandia Mesa, part of our business model is embracing, using, and creating free and open-source software. And Traboone Social is proud to be powered entirely by the following free and open-source software:</p>

<h2>Traboone Social UI</h2>

<p>A set of customizations we use to turn Soapbox into Traboone Social.</p>

<ul class="no-bulletpoints">
  <li><strong>Copyright:</strong> 2020 Sandia Mesa Animation Studios</li>
  <li><strong>License:</strong> GNU Affero General Public License version 3 (AGPLv3)</li>
  <li><strong>Source Code:</strong> <a href="https://code.sandiamesa.com/traboone/social-ui">https://code.sandiamesa.com/traboone/social-ui</a></li>
</ul>

<h2>Soapbox</h2>

<p>An alternative frontend for Pleroma that was forked from Gab Social's frontend, which is in turn forked from Mastodon's frontend.</p>

<ul class="no-bulletpoints">
  <li><strong>Copyright:</strong> 2019-2020 Alex Gleason</li>
  <li><strong>License:</strong> GNU Affero General Public License version 3 (AGPLv3)</li>
  <li><strong>Source Code:</strong> <a href="https://gitlab.com/soapbox-pub/soapbox-fe">https://gitlab.com/soapbox-pub/soapbox-fe</a></li>
</ul>

<h2>Pleroma</h2>

<p>Microblogging server software that can federate with other servers that support ActivityPub. It is efficent enough to be run on a low-power device like a Raspberry Pi but can scale well when run on more powerful hardware.</p>

<ul class="no-bulletpoints">
  <li><strong>Copyright:</strong> 2017-2020 Pleroma Authors</li>
  <li><strong>License:</strong> GNU Affero General Public License version 3 (AGPLv3)</li>
  <li><strong>Source code:</strong> <a href="https://git.pleroma.social/pleroma/pleroma/">https://git.pleroma.social/pleroma/pleroma/</a></li>
</ul>
</body>
</html>
