<h1>Privacy Policy</h1>
<p class="last-updated"><em>Last updated: September 19th, 2021</em></p>

<p>At Sandia Mesa Animation Studios (“We” or “Sandia Mesa”), protecting your privacy is very important. And because of that, we want to explain our practices with regards to data collection, use, and disclosure of information that we receive through our websites’ services.</p>

<p>All information that is collected through Traboone Social is covered by this Privacy Policy in effect at the time that such information is collected. From time to time, we may update and/or revise this Privacy Policy. And when we make changes to this Privacy Policy, you’ll be notified of these changes via the <a href="/@traboone">official Traboone account</a> on this instance  and/or other means. We’ll also update the “Last updated” date above to indicate when those changes will go into effect.</p>

<h2>Websites Covered</h2>

<p>This Privacy Policy covers the privacy practices of Traboone Social, a social media networking service provided by Sandia Mesa Animation Studios. Traboone Social may contain links to and/or embed third-party websites and/or operations. However, we are not responsible for the privacy practices or the content of such other websites. We encourage you to learn about such third parties’ privacy and cookie policies before providing them with personal information.</p>

<h2>Collection and Use of Information</h2>

<p><em><strong>Information Collected or Received from You</strong></em></p>

<p>Our primary goals in collecting information are to provide and improve Traboone Social, to administer your use of the Services (including your Account, if you are an Account holder), and to enable you to enjoy and easily navigate Traboone Social. If you create an Account, we will collect certain information that can be used to identify you, such as your email address and, if you opt to add it, a photograph or picture of you (“personal information”). Creating an Account also requires a username, which may or may not be personal information depending on your username. You can choose to provide other information about yourself, which will be made part of your Account’s profile (“Profile”).</p>

<p><em><strong>Third Party Disclosure</strong></em></p>

<p>Sandia Mesa will not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice and ask for explicit consent. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when its release is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property or safety.</p>

<h2>Cookies</h2>

<p>Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the site’s or service provider’s systems to recognize your browser and capture and remember certain information. Traboone Social uses cookies to store your session information></p>

<h2>Legal</h2>

<p><em><strong>California Online Privacy Protection Act</strong></em></p>

<p>CalOPPA is the first state law in the United States to require commercial websites and online services to post a privacy policy. According to CalOPPA, we agree to the following:</p>

<ul>
  <li>Users can visit our site anonymously.</li>
  <li>Once this privacy policy is created, we will add a link to it on our home page or as a minimum on the first significant page after entering our website.</li>
  <li>Our Privacy Policy link includes the word ‘Privacy’ and can be easily be found on the page specified above.</li>
  <li>We will inform users about the data we collect and with whom it is being shared.</li>
</ul>

<p><em><strong>California Consumer Privacy Act (CCPA)</strong></em></p>

<p>CCPA is a regulation that ensures data protection and privacy for all individuals living in the State of California. It’s the first state law in the United States of its kind. According to this regulation, users have the right to:</p>

<ul>
  <li>Know and access the information collected about them, including the specific categories and purposes of information being collected on them.</li>
  <li>Know whether their information is being sold and to whom, including the right to opt-out of having their personal data sold.</li>
  <li>Request the deletion of their personal data.</li>
</ul>

<p>Additionally, we at Sandia Mesa agree that we will:</p>

<ul>
  <li>Not discriminate against users who exercise their rights under the CCPA.</li>
  <li>Notify users if we decide to collect additional personal information categories.</li>
  <li>Notify users and ask for explicit consent if we decide to use their personal data for purposes other than what we disclosed in the notice of the collection.</li>
  <li>Not collect any personal data if we don’t give notice to the user at or before collection.</li>
</ul>

<p>To summarize the personal information that can be collected on you while using Traboone Social, they can be divided into the following categories as according to the CCPA:</p>

<ul>
  <li><strong>Identifiers:</strong> These include your name, username, IP address, and email address.</li>
  <li><strong>Customer records information:</strong> This includes your name and, if you opt to add it, your description.</li>
  <li><strong>Audio, electronic, visual, thermal, olfactory, or similar information:</strong> This may include a photograph or picture of you if you choose to add it.</li>
</ul>

<p><em><strong>European Union General Data Protection Regulation (EU GDPR)</strong></em></p>

<p>EU GDPR is a regulation that ensures data protection and privacy for all individuals living in the EU. According to this regulation, we agree to the following:</p>

<ul>
  <li>Users have the right to give and withdraw consent in an intelligible and easily accessible form.</li>
  <li>We will alert users of a data breach within 72 hours of being aware of the breach through emails to users and posts on the <a href="/@traboone">official Traboone account</a> on this instance.</li>
  <li>Users have the right to access what data has been collected on them in a commonly used and machine-readable format.</li>
  <li>Users have the right to be forgotten, meaning they have the right to request that the data controller delete their personal data.</li>
</ul>

<p><em><strong>COPPA (Children’s Online Privacy Protection Act)</strong></em></p>

<p>When it comes to the collection of personal information from children under 13, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the United States’s consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online. We do not specifically market to children under 13.</p>

<p><em><strong>CAN SPAM Act</strong></em></p>

<p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>

<p>We collect your email address in order to:</p>

<ul>
  <li>Email a reset password option.</li>
  <li>Confirm your registration to Traboone Social.</li>
  <li>Notify you of any breaches or changes to our privacy policy and/or terms of service.</li>
</ul>

<p>To be in accordance with CAN-SPAM, if at any time you would like to unsubscribe from receiving future emails, you can email <a href="mailto:sandia.mesa.animation.studios@gmail.com">sandia.mesa.animation.studios@gmail.com</a> and we will promptly remove you from ALL correspondence.</p>

<p><em><strong>Title 18 of the United States Code, Chapter 121</strong></em></p>

<p>Under United States federal law, we at Sandia Mesa are prohibited from divulging the contents of electronic communications to any person, and from divulging “a record or other information pertaining to a subscriber or customer of such service” to any government entity. However, we are permitted to do so only in limited circumstances, such as when the information pertains to the commission of a crime or in the case of emergencies involving danger of death or serious physical injury to any person. See <a href="https://www.law.cornell.edu/uscode/text/18/2702">§ 2702</a> and <a href="https://www.law.cornell.edu/uscode/text/18/2703">§ 2703</a> of this part of the U.S. Code for more information on exceptions.</p>

<h2>Contact Information</h2>

<p>If you have any questions or comments about our privacy policy and/or our privacy practices, feel free to email us at <a href="mailto:sandia.mesa.animation.studios@gmail.com">sandia.mesa.animation.studios@gmail.com</a>.</p>
