<h1>Terms of Service</h1>
<p class="last-updated"><em>Last updated: June 18th, 2021</em></p>

<p>These Terms of Service are entered into by and between you and Sandia Mesa Animation Studios (“We” or “Us” or “Sandia Mesa”). By using Traboone Social, you agree to and will comply with the following conditions.</p>

<p>From time to time, we may update and/or revise these Terms of Service. And when we make changes to these Terms of Service, you’ll be notified of these changes through a post on the <a href="/@traboone">official Traboone account</a> on this site and/or other means. We’ll also update the “Last updated” date above to indicate when those changes will go into effect.</p>

<h2>Minimum Age</h2>

<p>Traboone Social is available to users who are 18 years of age or older. By using this website and the services offered, you represent and warrant that you are of this age or older. If you are under the age of 18, you are not allowed to use our websites or services and we reserve the right to terminate the accounts of users who do not meet this minimum age requirement.</p>

<p>Additionally, there may be NSFW content on the site or in the comments. By default, posts containing and/or linking to NSFW content are overlaid with a content warning. If you opt to view NSFW content, you must be 18 years of age or older. And by opting to view NSFW content, you represent and warrant that you are of legal age to view such content. If you are not 18 years of age or older, you are prohibited from viewing any and all NSFW content on our sites.</p>

<h2>Community Guidelines</h2>

<p>At all times you are using and posting on Traboone Social, we expect you to abide by our community guidelines.</p>

<p>To summarize our community guidelines, they are to follow all applicable laws in The United States of America, the United States Constitution and the Supreme Court’s rulings on the First Amendment. We use the Court’s rulings, precedents and judgments as our guiding principles for protecting and empowering freedom of speech and expression on the internet. You may not use our sites for any unlawful purposes or illegal activities.</p>

<p>The community guidelines for Traboone Social are as follows:</p>

<ol>
  <li><strong>Be civil with others.</strong> – This means absolutely no calling for acts of violence against others, promoting or engaging in self-harm and/or acts of cruelty, promoting or engaging in acts of animal cruelty and/or animal crushing content, or threatening language and/or behavior that clearly, directly and incontrovertibly infringes on the safety of another user or individual(s). We reserve the right to ban and report users who engage in such behavior to federal and/or local law enforcement.</li>
  <li><strong>Please keep NSFW content legal and labeled.</strong> – NSFW content is permitted as long as it’s labeled and is within the legal bounds of the United States law. We have zero tolerance for illegal NSFW content such as child pornography. While not explicitly prohibited by federal U.S. law, we do not allow lolicon and bestiality on this platform as they are illegal in some U.S. states. Such illegal content will be removed and we reserve the right to ban any users who share such illegal content and report them to federal and/or local law enforcement.</li>
  <li><strong>No spam.</strong> – This includes things like posting deceptive links, gaining unauthorized access to others' accounts in order to write soliciting and/or malicious posts, and constantly sending false reports to the administrators and moderators of this site with malicious intent.</li>
  <li><strong>No doxing.</strong> – Users are prohibited from sharing private information of other users without their written, expressed authorization and consent. This includes but is not limited to home addresses, phone numbers, social security numbers, passport numbers, credit card information, and banking information.</li>
  <li><strong>No impersonating.</strong> – Don’t act like you’re something you’re not. Yes, parody accounts are allowed as long as you clearly state so.</li>
</ol>

<p><em><strong>Enforcement</strong></em></p>

<p>We at Sandia Mesa treat everyone with respect and dignity, regardless of their background, identity, origins, and point of view. We give users the full benefit of the doubt and work to communicate with them when enforcing our rules. The many ways in which we enforce our policies include but are not limited to:</p>

<ul>
  <li>Reminding you to kindly follow our site’s rules in the case that a breach has occurred, beyond a reasonable doubt.</li>
  <li>Asking you to label posts and comments containing NSFW content with a content warning.</li>
  <li>Immediately removing all and any illegal content.</li>
  <li>Banning user(s) from our sites either intermittently, temporarily, or permanently.</li>
  <li>Blacklisting user(s) from Sandia Mesa-owned websites, communities, and forums.</li>
</ul>

<p><em><strong>International User Policy</strong></em></p>

<p>Sandia Mesa is based within the United States of America and has no presence outside of the U.S.A. Users who are not residents and not citizens of the United States are prohibited from using our forums or sites for any purpose that would, if occurred within the United States or any territory, incorporated or unincorporated, of the United States, be unlawful under U.S. federal law or under the laws of any state, federal district, incorporated or unincorporated territory, or local municipality of the United States.</p>

<p><em><strong>Copyright Policy</strong></em></p>

<p>The infringement of copyright or personal or proprietary rights of any person or entity is prohibited on our sites. Infringing content may be removed upon a legitimate DMCA request. Such content is not endorsed by Sandia Mesa, nor is Sandia Mesa liable for content posted by our users.</p>

<h2>Information Collected and Privacy Practices</h2>

<p>All of our privacy practices and the information we collect on this site are subject to our <a href="/about/privacy-policy">Privacy Policy</a>. By using our sites, you consent to all actions taken by us with respect to your privacy and any information collected on you in compliance with the <a href="/about/privacy-policy">Privacy Policy</a>.</p>

</body>
</html>
